<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ready to Go</title>
</head>
<body>
	<h1>WElcome user to the XageVerse</h1>
	<p>This is the .....</p>
</body>
</html>
